.hero-fluid {
  height: 100vh;
  background: url(../img/background01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-fluid .hero-conteiner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-fluid .hero-conteiner .hero-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-fluid .hero-conteiner .hero-title h1 {
  font-family: "Righteous", cursive;
  color: white;
  font-size: 50px;
  margin: 0;
}
.hero-fluid .hero-conteiner .hero-title h3 {
  font-family: "Shadows Into Light", cursive;
  color: white;
}

.paralax-fluid {
  height: 70vh;
  padding: 0;
  background: fixed no-repeat 50% 50%;
  background-image: url(../img/background02.jpg);
  background-size: cover;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.paralax-fluid .paralax-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.paralax-fluid .paralax-container h2 {
  font-family: "Righteous", cursive;
  font-size: 30px;
  text-shadow: 3px 3px 10px rgba(89, 89, 89, 0.83);
}
.paralax-fluid .paralax-container img {
  margin-top: 30px;
}

.tarjetas-fluid {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tarjetas-fluid .tarjetas-container {
  height: 95vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tarjetas-fluid .tarjetas-container .tarjeta-title {
  width: 80%;
  height: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tarjetas-fluid .tarjetas-container .tarjeta-title h3 {
  font-family: "Righteous", cursive;
  color: black;
  font-size: 30px;
  margin: 5;
}
.tarjetas-fluid .tarjetas-container .tarjeta-title p {
  font-family: "Shadows Into Light", cursive;
  font-weight: bold;
  text-align: center;
}
.tarjetas-fluid .tarjetas-container .tarjeta-flyer {
  border-radius: 5px;
  min-height: 350px;
  min-width: 350px;
  border-radius: 10px;
  box-shadow: 3px 3px 8px #8f8f8f;
}
.tarjetas-fluid .tarjetas-container .tarjeta-flyer img {
  height: 370px;
  width: 370px;
  border-radius: 5px;
}

.carrusel-fluid {
  height: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carrusel-fluid .carrusel-container {
  padding: 0;
  margin: 0;
  height: 350px;
  width: 350px;
}
.carrusel-fluid .carrusel-container .carrusel-marco {
  height: 100%;
}
.carrusel-fluid .carrusel-container .carrusel-marco .carrusel-fotos {
  height: 100%;
}
.carrusel-fluid .carrusel-container .carrusel-marco .carousel-control-prev,
.carrusel-fluid .carrusel-container .carrusel-marco .carousel-control-next {
  background: none;
  border: none;
}

.todos-fluid {
  margin-top: 50px;
  height: 50vh;
  padding: 0;
  background: #12c2e9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.todos-fluid .todos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.todos-fluid .todos-container h2 {
  font-family: "Righteous", cursive;
  color: rebeccapurple;
  font-size: 45px;
  margin: 5;
  text-shadow: 3px 3px 8px rgba(77, 77, 77, 0.487);
}
.todos-fluid .todos-container p {
  font-family: "Shadows Into Light", cursive;
  font-weight: bold;
  text-align: center;
  color: #383838;
}

.galeria-fluid {
  height: auto;
  background: #12c2e9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.galeria-fluid .galeria-container {
  height: 100%;
  padding: 0;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
}
.galeria-fluid .galeria-container .todos-tarjeta {
  border: 1px solid rgba(67, 67, 67, 0.46);
  border-radius: 5px;
  margin: 5px;
  width: 32.3%;
  height: auto;
  box-shadow: 3px 3px 8px rgba(61, 61, 61, 0.611);
}
.galeria-fluid .galeria-container .todos-tarjeta .todos-foto {
  width: 100%;
}
.galeria-fluid .galeria-container .todos-tarjeta .todos-foto img {
  width: 100%;
}
.galeria-fluid .galeria-container .todos-tarjeta .todos-foto .details {
  background-color: wheat;
  border-radius: 0px 0px 5px 5px;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
}
.galeria-fluid .galeria-container .todos-tarjeta .todos-foto .details p {
  margin: 0;
  padding: 5px;
  font-family: "Shadows Into Light", cursive;
  font-weight: bold;
  text-align: center;
  color: rgba(56, 56, 56, 0.515);
}

/*# sourceMappingURL=estyle.css.map */
