// ---------------------------------------------------
//            HEADER
// ---------------------------------------------------

.hero-fluid {
    // border: 1px solid blue;
    height: 100vh;
    background: url(../img/background01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .hero-conteiner {
        // border: 1px solid red;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .hero-title {
            // border: 1px solid yellow;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {
                font-family: 'Righteous', cursive;
                color: white;
                font-size: 50px;
                margin: 0;
            }
            h3 {
                font-family: 'Shadows Into Light', cursive;
                color: white;
            }
        }
    }
}

// ---------------------------------------------------
//            PARALAX
// ---------------------------------------------------

.paralax-fluid {
    // border: 1px solid red;
    height: 70vh;
    padding: 0;
    background: fixed no-repeat 50% 50%;
    background-image: url(../img/background02.jpg);
    background-size: cover;
    object-fit: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .paralax-container {
        // border: 1px solid blue;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            font-family: 'Righteous', cursive;
            font-size: 30px;
            text-shadow: 3px 3px 10px rgba(89, 89, 89, 0.83);
        }

        img {
            margin-top: 30px;
        }
    }
}

// ---------------------------------------------------
//            TARJETA 1
// ---------------------------------------------------

.tarjetas-fluid {
    // border: 1px solid blue;
    height: 95vh;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .tarjetas-container {
        // border: 1px solid red;
        height: 95vh;
        padding: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        
        .tarjeta-title {
            // background-color: rgba(220, 20, 60, 0.419);
            width: 80%;
            height: auto;
            margin-bottom: 10px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3 {
                font-family: 'Righteous', cursive;
                color: black;
                font-size: 30px;
                margin: 5;
            }
            p {
                font-family: 'Shadows Into Light', cursive;
                font-weight: bold;
                text-align: center;
            }
        }
        .tarjeta-flyer {
            // border: 1px solid black;
            border-radius: 5px;
            min-height: 350px;
            min-width: 350px;
            // background-image: url(../img/terada01.jpg);
            // background-repeat: no-repeat;
            // background-size: contain;
            // background-position: center;

            border-radius: 10px;
            box-shadow:  3px 3px 8px #8f8f8f;

            img {
                height: 370px;
                width: 370px;
                border-radius: 5px;
            }
        }
    }
}

// ---------------------------------------------------
//            CARRUSEL 1
// ---------------------------------------------------

.carrusel-fluid {
    // border: 1px solid red;
    height: auto;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .carrusel-container {
        // border: 1px solid blue;
        padding: 0;
        margin: 0;
        height: 350px;
        width: 350px;

        .carrusel-marco {
            // border: 1px solid blue;
            height: 100%;

            .carrusel-fotos {
                // border: 1px solid green;
                height: 100%;
            }

            .carousel-control-prev, 
            .carousel-control-next {
                background: none;
                border: none;
            }
        }
    }
}

// ---------------------------------------------------
//            PARALAX TODOS
// ---------------------------------------------------

.todos-fluid {
    // border: 1px solid red;
    margin-top: 50px;
    height: 50vh;
    padding: 0;
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .todos-container {
        // border: 1px solid red;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            font-family: 'Righteous', cursive;
            color: rebeccapurple;
            font-size: 45px;
            margin: 5;
            text-shadow: 3px 3px 8px rgba(77, 77, 77, 0.487);
        }
        p {
            font-family: 'Shadows Into Light', cursive;
            font-weight: bold;
            text-align: center;
            color: rgb(56, 56, 56);
        }
    }
}

// ---------------------------------------------------
//            GALERIA DE IMAGENES TODOS
// ---------------------------------------------------

.galeria-fluid {
    // border: 1px solid blue;
    height: auto;
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .galeria-container {
        // border: 1px solid red;
        height: 100%;
        padding: 0;

        display: flex;
        flex-flow: wrap row;
        justify-content: center;
        align-items: center;

        .todos-tarjeta {
            border: 1px solid rgba(67, 67, 67, 0.46);
            border-radius: 5px;
            margin: 5px;
            width: 32.3%;
            height: auto;
            box-shadow: 3px 3px 8px rgba(61, 61, 61, 0.611);

            .todos-foto {
                width: 100%;

                img {
                    width: 100%;
                }

                .details {
                    background-color: wheat;
                    border-radius: 0px 0px 5px 5px;
                    
                    display: flex;
                    flex-flow: wrap row;
                    justify-content: center;
                    align-items: center;

                    p {
                        margin: 0;
                        padding: 5px;
                        font-family: 'Shadows Into Light', cursive;
                        font-weight: bold;
                        text-align: center;
                        color: rgba(56, 56, 56, 0.515);
                    }
                }
            }
        }
    }
}